@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  padding: 0;
  margin: 0;
}
  
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .8em arial, sans-serif;
  background: #C4E9E8 url(../images/back.png) repeat-x;
  color: #555;
}

#container { 
  margin-top: 40px;
  background: transparent url(../images/grass.png) repeat-x bottom;
}

#sun{
  margin-top: -40px;
  position: absolute;
  z-index: -1;
}

#main{
  padding: 20px;
  border-radius: 20px;;
  width: 800px;
  margin: 0px auto;
  overflow: auto;
  background: white;
}

header img{
  background: white;
  width: 600px;
  display: block;
  margin: 0 auto;
  height: 200px;
}

nav{
  background-color: #53C7FD;
  font-size: 14px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav li{
  text-decoration: none;
  display: inline;
}

nav li a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
  display: inline;
}

nav li a:hover{
  color: #E5017D;
}

article{
  display: inline;
  width: 600px;
  margin: 10px;
}

article h1{
  color: #E5017D;
  font-size: 24px;
  margin-bottom: 10px;
}

article p{
  float: left;
  width: 350px;
  font-size: 14px;
}

#Aside{
  width: 200px;
  float: right;
}

aside{
  padding: 10px;
  border: #53C7FD solid 2px;
  border-radius: 10px;
  margin: 10px;
  font-size: 14px;
}

aside h3{
  color: greenyellow;
}

#Aside li{
  list-style: none;
}

main{
  width: 800px;
}

article img{
  float: right;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  border: gray 2px solid;
  padding: 15px;
  border-radius: 10px;
}

article ul{
  margin-left: 20px;
  list-style: decimal;
  width: 400px;
  float: left;
  margin-top: 10px;
  font-size: 14px;
}

footer{
  width: 800px;
  text-align: center;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  background-color: #53C7FD;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 14px;
}

footer li{
  margin: 10px;
  display: inline;
}

footer a{
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #53C7FD;
  margin: 0px;
  padding: 0px;
}

.dropdown-content a + a{
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  background-color: #53C7FD;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #53C7FD
}

.dropdown:hover .dropdown-content {
  display: block;
}